#loginForm{
    width: 30%;
    margin:auto;
    margin-top: 3%;
    border: 1px solid gray;
    padding: 1%;
    border-radius: 5px;
    padding-bottom: 0.2%;
}
#loginForm input{
    width: 100%;
}
#loginForm #registerBtn{
    width: 50%;
    display:block;
    margin: auto;
    margin-top: 4.5%;
}
#loginForm #passConfirmSection{
    display: none;
}
#loginBtn{
    width: 100%;
}
#header{
    display: block;
    margin: auto;
    width: 30%;
}
#header h1{
    display: inline-block;
    font-size: 3vw;
    width: 60%;
    text-align: center;
}
#header img{
    height: 30%;
    width: 30%;
    margin-left: 4.5%;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}